#text
{
  color: antiquewhite;
  padding: 100px
}

li
{margin: 10px 0;
}
a:link, a:visited 
{
background-color: #f44336;
color: white;
padding: 15px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover, a:active 
{
background-color: red;
}

#syn{
/* background */
position: absolute;
left: 0%;
right: -2.59%;
top: 0%;
bottom: -2.59%;
background: linear-gradient(0deg, #F23232 0%, #001C51 99.32%), 
linear-gradient(180deg, #165595 0%, #5DBDCD 100%), 
linear-gradient(0deg, #140F26, #140F26), 
linear-gradient(115.78deg, #191B53 0%, #471F53 98.47%);
}

#trust
{
    text-align: center
}

#logo{
  text-align: center
}
#instr
{
 padding: 100px
}

#navmap{
  position: absolute;
  bottom: 10px;
  width: 30%;
  border: 3px solid rgb(19, 1, 1);
  text-align: center;
  padding: 40px 40px 40px
}

#navmap1{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30%;
  border: 3px solid rgb(19, 1, 1);
  text-align: center;
  padding: 20px 20px 20px
}